body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.font { /* Fonte */
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

#topbar{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: rgba(55, 216, 184, 1);
    margin-top: -8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
    height: 130px;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-right: 70px;
    position: relative;
    top: 50px;
}
.link:hover{
    color: aliceblue;
}
.yellow{
    background-color: rgba(255, 242, 191, 1);
    inline-size: 500px;
    height: 40px;
    position: relative;
    left: 40px;
    top: -10px;
    /* margin-left: 50px; */
    text-align: left;
    border-radius: 10px;
    font-size: 20px;
    & h3{
    margin-left: 20px;
    position: relative;
    top: 10px;
    }
}
#pow{
    z-index: -1;
}
main{
    height: auto;
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr ;
}
#fundo{
    position: relative;
    z-index: -1;
}
#registros{
    height: 70%;
    background-color: rgba(99, 215, 192, 1);
    border-top-left-radius: 10px;
    inline-size: auto;
    overflow: auto;
    margin: 30px 20px 20px 10% ;
    overflow-y: scroll;
    overflow-x: hidden;
}
.register{
    background-color: rgba(99, 215, 192, 1);
    & h3{
     background-color: rgba(241, 241, 241, 1);   
     padding: 5px;
     inline-size: 80%;
     font-size: 150%;
     height: 40px;
     margin-left: 10px;
     text-indent: 3px;
     margin-bottom: -5%;
    }
    & p{
        background-color: rgba(83, 83, 83, 1);
        color: white;
        text-indent: 8px;
        margin-left: 10px;
        margin-top: 5%;
        inline-size: 50%;
        height: 30px;
        margin-bottom: -2.7%;
        border-top-right-radius: 8px;
    }
    & hr{
        inline-size: 80%;
        border-color: rgba(88, 88, 88, 1);
        margin-left: 10px;
    }
}
.sel:hover{
    inline-size: 90%
}
#inf{
    background-color: rgb(222, 255, 253);
    border: 20px solid rgb(137, 233, 214);
    margin-top: 30px;
    height: 66%;
    border-radius: 20px;
    & #barra{
        background-color: rgb(137, 233, 214);
        color:  white;
        height: 10%;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-top: -5%;
    }
    & p{
        margin-left: 10%;
        font-size: 20px;
    }   
    & hr{
        inline-size: 80%;
        margin: 20px 10% 0px 10%;
        /* border: 1px solid black; */
    }
    & h1{
        margin-top: 40px;
        font-weight: normal;
        font-size: 30px;
        text-align: center;
        
    }
    & img{
        margin-top: -20px;
        margin-left: 60px;
        width: 80%;
    }
}
.vazio{
    line-height: 70px;
    opacity: 1;
    animation-name: fadein;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.abba{
    color: rgba(99, 215, 192, 1);
    font-weight: bold;
    
}
.icon{
    width: 10%;
}
.elements{
    margin: 30px 0px -20px 0px;
    display: grid;
    grid-template-columns: 0.3fr 3fr;
    line-height: 60%;
}
#img{
    margin: 0px 40px 0px 30px ;
    width: 80%;
    height: 87%;
    object-fit: cover;
    border-radius: 20px;
}





